@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color-scheme: dark;
}

.svg-background{
  background-image: linear-gradient(
    to bottom, transparent, transparent, transparent, rgb(9, 9, 11),  rgb(9, 9, 11)
  ), url('/back.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-outline{
  @apply focus:outline-none focus:outline-blue-800;
}

.premium-text{
  @apply bg-clip-text bg-gradient-to-br from-yellow-700 to-yellow-300 text-transparent;
}

.faded-after{
  position: relative;
}

.faded-after:after {
  position: absolute;
  bottom: 0;  
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
     rgb(10, 10, 10, 1) 1%, 
     rgba(255,255,255, 0) 5%
  );
  pointer-events: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}