@tailwind base;
@tailwind components;
@tailwind utilities;

body{
}

.svg-background{
  background-image: linear-gradient(
    to bottom, transparent, transparent, transparent, rgb(9, 9, 11),  rgb(9, 9, 11)
  ), url('/back.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-outline{
  @apply focus:outline-none focus:outline-blue-900;
}

.premium-text{
  @apply bg-clip-text bg-gradient-to-br from-yellow-700 to-yellow-300 text-transparent;
}